.toast{
    border-radius: 10px;
    padding: 15px;
    z-index: 100;
    
    width: 70vw;
    height: auto;
    

    position: absolute;
    top: 20%;
    bottom: 20%;

    background-color: var(--light);

    overflow-y: auto;
}

.toast > h3, strong{
    color: var(--primary);
}

.toast > p{
    color: var(--font-dark);
}

.close-wrapper > i{
    color: var(--font-dark);
    font-size: 1.2rem;

    position: fixed;
    
    transition: all 0.2s ease-out;
}

.close-wrapper > i:hover{
    cursor: pointer;
    color: firebrick;
    transform: scale(1.2);
}

.close-wrapper{
    text-align: end;
    margin-right: 15px;
}

.toast-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px) brightness(0.7);

    align-content: center;
    justify-content: center;
}

.description{
    background-color: var(--font-light);
    max-height: 20vh;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;

    line-height: 1.5rem ;
    overflow-y: auto;
}