
table {
    border-collapse: collapse;
    table-layout: fixed;
}
 
.table-wrapper{
  margin: 20px 0px;
  overflow-y: auto;    
  overflow-x: hidden;
  max-height: 70vh;
  width: 80vw;
  border: 1px solid var(--font-dark);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

thead{
  position: sticky;
  top: 0;
}

th, td{
  text-overflow: ellipsis;
  border-left: 1px solid var(--cell-border);
  border-bottom: 1px solid var(--cell-border);
  padding: 10px;
}

th {
  background-color: var(--font-light);
  color: var(--primary);
}
  
td {
  transition: all 0.4s ease-out;
  padding: 10px;
}

tr:hover{

  cursor: pointer;
}

tr:hover > td {
  background-color: var(--primary);
  color: var(--font-light);
}

.table-footer{
  position: sticky;
  bottom: 0;
  background-color: var(--cell-border);
  padding: 5px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-footer > input{
  width: 60px;
  text-align: center;
}

.table-footer > input, .table-footer > select, .table-footer > button{
  margin: 0px 5px;
}

.page-button{
  background-color: var(--font-light);
  color: var(--primary);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.page-button:hover{
  color: var(--font-light);
  background-color: var(--primary);
  cursor: pointer;
}

@media (max-width: 800px) {
  th:not(:first-child){
    display: none;
  }

  th:first-child{
    width: 100% !important;
  }
  
  td:not(:first-child){
    display: none;
  }
}
