*{
  box-sizing: border-box; 
}

body{
  font-family: 'Montserrat', sans-serif;
  color: var(--font-dark);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 62px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background: var(--cell-border); 
}

:root{
  --primary: #3c6dad;
  --light: #fff;
  --font-dark: rgb(31, 31, 31);
  --font-light: #f5f5f5;
  --cell-border: #c9c9c9;
}

.App { 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  padding: 5px;
}

.App > h1{
  
  color: var(--primary);
}

p, h1, h2, h3, h4, h5, a, li, button, input, span, select, label, tr, td{
  letter-spacing: 2px;
  color: var(--font-dark)
}
  
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 80vw;
}

.table-wrapper{
  overflow-y: auto;
  height: 70vh;
  border: 1px solid var(--font-dark);
}
  
th, td{
  text-overflow: ellipsis;
  overflow-x: clip;
  border-left: 1px solid var(--cell-border);
  border-bottom: 1px solid var(--cell-border);
  padding: 10px;
}

th {
  background-color: var(--font-light);
  color: var(--primary);
}
  
td {
  transition: all 0.5s ease-out;
  padding: 10px;
}

tr:hover{

  cursor: pointer;
}

tr:hover > td {
  background-color: var(--primary);
  color: var(--font-light);
}

tr:hover > td  + ::-webkit-scrollbar-thumb {
  background-color: var(--light);
}