*{
  box-sizing: border-box; 
}

body, input, button, select{
  font-family:  'Montserrat', sans-serif;
  letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 62px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background: var(--cell-border); 
}

:root{
  --primary: #3c6dad;
  --light: #fff;
  --font-dark: rgb(31, 31, 31);
  --font-light: #f5f5f5;
  --cell-border: #c9c9c9;
}

main { 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  padding: 5px;
}

main > h1{
  
  color: var(--primary);
}

p, h1, h2, h3, h4, h5, a, li, button, input, span, select, label, tr, td{
  color: var(--font-dark);
}

a{
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.main-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page{
  background-color: var(--primary);
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  
  margin: 20px;
  padding: 20px;
  width: 300px;

  text-decoration: none;
  border-radius: 15px;
  border: 1px var(--cell-border) solid;
  transition: all 0.2s ease-out;
}

.page > h3{
  text-align: center;
  text-overflow: ellipsis;
  color: var(--font-light);
  height: 35px;
}

.page:hover > h3{
  color: var(--primary);
}

.page:hover{
  transform: translateX(-3px);
  box-shadow: var(--font-dark) 5px 5px 8px;
  cursor: pointer;
  background-color: var(--font-light);
}

.page > img{
  width: 50%;
}

.filter-box{
  margin: 35px;

  width: 80vw;

  border: 1px var(--cell-border) solid;
  border-radius: 15px;
  
  display: flex;
  flex-direction: column;
}

.input-container{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.filter{
  margin:10px 20px;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.filter > input, .filter-box > button{
  font-weight: bold;

  padding: 8px;
  margin-top: 5px;
  
  height: 40px;    
  
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--cell-border);

  transition: all 0.2s ease-out;
}

.filter-box > button{
  margin:20px;
}

.filter-box > button:hover{
  background-color: var(--primary);
  color: var(--font-light);
  cursor: pointer;
}